* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}

input {
    padding: 0.5rem 0.4rem;
    width: 70%;
}

tr {
    border: 1px solid #000;
    
}

td {
    border: 1px solid #000;
    padding: 0.5rem 1rem;
}

table {
    width: 70%;
    border: 1px solid #000;
    border-collapse: collapse;
}

.submit {
    margin-top: 15px;
    width: 40%;
    padding: 0.5rem;
    background-color: tomato;
    border: 0;
    border-radius: 5px;
    color: #fff;
    transition: ease .2s;
    
    font-size: 1rem;
}

.submit:hover {
    opacity: .8;
}

@media (min-width: 900px) {
    input, table {
        width: 40%;
    }

    .submit {
        width: 20%;
    }
}
