* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family:  'Arial' ,sans-serif;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.header {
    width: 100%;
    margin-top: 2rem;
}

.header__input {
    padding: 0.5rem 0.4rem;
    width: 70%;
}

td {
    border: 1px solid #000;
    padding: 0.5rem 1rem;
}

.main__table {
    width: 70%;
    border: 1px solid #000;
    border-collapse: collapse;
}

.header__button {
    width: 40%;
    padding: 0.52rem;
    background-color: tomato;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: #fff;
    transition: ease .2s;
    font-size: 1rem;
    cursor: pointer;
}

.header__button:hover {
    opacity: .8;
}

@media (min-width: 900px) {

    .main__table {
        width: 40%;
    }

    .header__input {
        width: 30%;
    }

    .header__button {
        width: 10%;
    }

    .header__search-form {
        width: 100%;
    }
}